<!DOCTYPE HTML> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
	<title>시뮬레이터</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="/css/basecss.css">
	<link rel="stylesheet" href="/css/ibk.css">
</head> 

<body>
	<div class="wrap_dev">
		<div class="container">  
			<!-- s:header -->
	    	<div class="header_dev">
	     		<div class="logo">
	     			<a href="/simulator"><img src="../images/new/img_logo_dev.gif" alt="대외계OPEN시스템" /></a>
	        	</div>
	        	<ul class="topmenu_dev">
		            <li><a href="/simulatortest">시뮬레이터 테스트</a></li>
	        	</ul>
	        </div>        
        </div>
    </div>
    
	<!--  <p th:text="'simul, ' + ${name} + '!'" /> -->

	<!-- lib 영역 -->
	<script src="/webjars/jquery/3.3.1/dist/jquery.min.js"></script>
	<script src="/js/event.js"></script>
</body>
</html>